* {
  padding: 0px;
  margin: 0px;
}
ul,
ol {
  list-style-type: none;
}
body {
  background-color: #F7F7F7;
}
.wrapper {
  width: 1100px;
  margin: 0px auto;
}
.clearfix::after {
  content: "";
  display: block;
  height: 0px;
  clear: both;
  visibility: hidden;
}
* {
  text-decoration: none;
}
header {
  width: 100%;
  height: 240px;
  background-color: #fff;
}
header .nav {
  width: 100%;
  height: 70px;
  box-shadow: -1px -1px 1px 2px #ccc;
  border-bottom: 1px solid #ccc;
}
header .nav nav {
  height: 70px;
}
header .nav nav img {
  float: left;
  width: 150px;
  padding: 5px 0px;
}
header .nav nav ul {
  float: left;
  margin-left: 80px;
  width: 500px;
  height: 70px;
}
header .nav nav ul li {
  float: left;
  line-height: 70px;
  font-size: 18px;
  margin-left: 40px;
  padding-top: 5px;
}
header .nav nav ul li a {
  color: #706C82;
}
header .nav nav ul li a.active {
  color: red;
}
header .nav .search {
  float: right;
  width: 100px;
  height: 70px;
}
header .nav .search span {
  font-size: 20px;
  line-height: 70px;
  font-weight: bold;
}
header .nav .search .text {
  padding: 3px 8px;
  border: 2px solid #F46565;
  float: right;
  border-radius: 3px;
  margin: 20px 0px;
}
header .nav .search .text a {
  color: #F46565;
}
.nav-msg {
  width: 1100px;
  height: 170px;
  overflow: hidden;
}
.nav-msg .nav-find {
  margin: 30px auto;
  width: 200px;
  height: 50px;
}
.nav-msg .nav-find h2 {
  color: #3E3F4A;
  font-weight: 500;
  font-size: 40px;
}
.nav-msg .navs {
  margin: 0 auto;
  width: 495px;
  height: 60px;
}
.nav-msg .navs ul li {
  float: left;
  width: 150px;
  height: 60px;
  margin-right: 10px;
  line-height: 60px;
  text-align: center;
}
.nav-msg .navs ul li a {
  color: #B2B0BE;
}
.nav-msg .navs ul .active {
  width: 150px;
  height: 57px;
  color: #FD6C5B;
  border-bottom: 3px solid #FE5341;
}
main {
  width: 1100px;
}
main .container {
  float: left;
  margin-top: 25px;
  width: 1100px;
  height: 510px;
  background-color: #fff;
}
main .container .content {
  width: 1100px;
  height: 375px;
}
main .container .content .column {
  margin-top: 10px;
  width: 1100px;
  height: 25px;
  border-left: 6px solid #F85543;
}
main .container .content .column p {
  padding: 0 25px;
  line-height: 25px;
}
.good-column {
  width: 1100px;
}
.good-column ul li {
  margin: 25px 25px 0 25px;
  float: left;
  width: 110px;
  height: 130px;
}
.good-column ul li .img {
  width: 140px;
  height: 130px;
}
.good-column ul li .img img {
  width: 96px;
  height: 96px;
}
.good-column ul li .img img:hover {
  animation: move 1s linear;
}
.good-column ul li .img p {
  text-align: center;
  margin: 10px 0 0 -6px;
}
.good-column ul li .img p a {
  font-size: 14px;
  color: #A4AEC0;
}
.column-msg {
  border-top: 1px dashed #ccc;
  width: 1100px ;
  height: 140px;
}
.column-msg ul li {
  margin: 0 10px 0 25px;
  float: left;
  width: 125px;
  height: 35px;
}
.column-msg ul li p {
  font-size: 14px;
  text-align: center;
  line-height: 35px;
}
.column-msg ul li p a {
  color: #A4AEC0;
}
main {
  width: 1100px;
}
main .contain {
  float: left;
  margin-top: 40px;
  width: 1100px;
  height: 280px;
  background-color: #fff;
}
main .contain .contents {
  width: 1100px;
  height: 210px;
}
main .contain .contents .columns {
  margin-top: 10px;
  width: 1100px;
  height: 25px;
  border-left: 6px solid #F85543;
}
main .contain .contents .columns p {
  padding: 0 25px;
  line-height: 25px;
}
.goods-column {
  width: 1100px;
}
.goods-column ul li {
  margin: 25px 25px 0 25px;
  float: left;
  width: 110px;
  height: 130px;
}
.goods-column ul li .imgs {
  width: 140px;
  height: 130px;
}
.goods-column ul li .imgs img {
  width: 96px;
  height: 96px;
}
.goods-column ul li .imgs img:hover {
  animation: move 1s linear;
}
.goods-column ul li .imgs p {
  text-align: center;
  margin: 10px 0 0 -6px;
}
.goods-column ul li .imgs p a {
  font-size: 14px;
  color: #A4AEC0;
}
.column-msgs {
  border-top: 1px dashed #ccc;
  width: 1100px ;
  height: 60px;
}
.column-msgs ul li {
  margin: 0 10px 0 25px;
  float: left;
  width: 125px;
  height: 40px;
}
.column-msgs ul li p {
  font-size: 14px;
  text-align: center;
  line-height: 50px;
}
.column-msgs ul li p a {
  color: #A4AEC0;
}
footer {
  float: left;
  position: relative;
  top: 50px;
  width: 100%;
  height: 350px;
  background-color: #505050;
}
footer .foot {
  padding-top: 40px;
}
footer .foot img {
  float: left;
}
footer .foot .logo {
  float: left;
  margin: 0px 30px;
}
footer .foot .logo img {
  width: 121px;
  margin-bottom: 30px;
}
footer .foot .logo .text {
  width: 130px;
}
footer .foot .logo .text p {
  color: #8A8887;
  font-size: 14px;
  font-weight: 600;
}
footer .foot .logo .text p:nth-of-type(2) {
  margin-top: 15px;
}
footer .foot .link {
  float: left;
  margin-left: 10px;
  height: 200px;
}
footer .foot .link dl {
  float: left;
  margin-left: 30px;
}
footer .foot .link dl:nth-of-type(3) {
  margin-top: 20px;
}
footer .foot .link dl dt {
  margin-bottom: 30px;
}
footer .foot .link dl dt a {
  color: #EAF2DC;
}
footer .foot .link dl a dd {
  color: #848986;
  font-size: 13px;
  font-weight: 600;
}
footer .wenzi {
  margin-top: 50px;
  text-align: center;
  font-size: 14px;
  color: #8A8887;
}
footer .backtop {
  position: absolute;
  bottom: 39px;
  right: 210px;
  background-color: #E7E7E7;
  border-radius: 5px;
  padding: 8px 12px;
  cursor: pointer;
}
footer .backtop span {
  color: #fff;
  font-size: 30px;
}
@keyframes move {
  0% {
    transform: rotateY(60deg);
  }
  50% {
    transform: rotateY(120deg);
  }
  100% {
    transform: rotateY(180deg);
  }
}
